<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" class="container" [formGroup]="registerForm" *ngIf="!isLoading"> 
    <h1>Sign Up</h1>
    <span *ngIf="registerForm.get('email').touched && !registerForm.get('email').valid" class="error">! Email is required</span>
    <span *ngIf="registerForm.get('password').touched && !registerForm.get('password').valid" class="error">! Password is required</span>
    <span *ngIf="error">{{error}}</span>
      
    <div>
      <input type="text" placeholder="Email" formControlName='email'>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
    <div>
      <input [type]="passwordType" placeholder="Password" formControlName='password'>
      <i [ngClass]="(showIcon) ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true" (click)="onChange()"></i>
    </div>

    <button (click)="onSubmit()" [disabled]="!registerForm.valid">Sign Up</button>
    <div fxLayout="row" fxLayoutAlign="end end">
     <a [routerLink]="['/login']">Login</a>
    </div>
  </div> 
</div>
